<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect to index.php for clean URLs
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /public/$1
  RewriteRule ^(/)?$ public/index.php [L]
</IfModule>

